<section class="home-one home1-overlay home1_bgi1">
    <div class="container">
        <div class="row posr">
            <div class="col-lg-12">
                <div class="home_content">
                    <div class="home-text text-center">
                        <h2 class="fz55">
                            Yöneticiler için
                            kolay yönetim, sakinler
                            için rahat yaşam!
                        </h2>
                        <p class="fz18 color-white">
                            çok üyeli yaşam alanlarının yöneticilerine dijital asistanlık yapan,
                            konut sakinlerine şeffaflık sunan bir apartman, site yönetim yazılımıdır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>