<!-- Start Partnership -->
<section class="start-partners bgc-thm pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="start_partner tac-smd">
                    <h2>
                        AsistanApp ayrıcalıklarını kullanmaya bugün başlayın!
                    </h2>
                    <p>
                        Yönetiminizi online yapın, avantajlardan yararlanın.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="parner_reg_btn text-right tac-smd">
                    <a class="btn btn-thm2" href="#">İletişime Geçin</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Footer -->
<section class="footer_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pr0 pl0">
                <div class="footer_about_widget">
                    <h4>AsistanApp Hakkında</h4>
                    <p>Kodluyoruz Akademi .Net Core Bootcamp Kapsamında geliştirilmiş .NET Core,Mssql,MongoDB teknolojileri ile geliştirilmiş bir projedir.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_qlink_widget">
                    <h4>Hızlı Linkler</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Kampanyalar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>İletişim</h4>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="" </span>furkan@AsistanApp.com</a></li>
                        <li><a href="#">İstanbul - Türkiye</a></li>
                        <li><a href="#">+90 594-345-0699</a></li>
                        <li><a href="#">+90 594-345-0699</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_social_widget">
                    <h4>Sosyal Medya Hesaplarımız</h4>
                    <ul class="mb30">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Footer Bottom Area -->
<section class="footer_middle_area pt40 pb40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="footer_menu_widget">
                    <ul>
                        <li class="list-inline-item"><a href="#">Anasayfa</a></li>
                        <li class="list-inline-item"><a href="#">Hakkımızda</a></li>
                        <li class="list-inline-item"><a href="#">İletişim</a></li>
                        <li class="list-inline-item"><a href="#">Yönetici/Üye Girişi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="copyright-widget text-right">
                    <p>© 2021 AsistanAPP - Furkan Özbay</p>
                </div>
            </div>
        </div>
    </div>
</section>